@import "colours";

$break-small: 480px;
$break-large: 1200px;

img{
  max-width: 300px;
}

button{
  border: none;
  background-color: none;
  background: none;
}

.btn{
  font: $font-primary;
  border: 1.4fr solid  $font-primary;
  font-weight: 400;
  .add-cart{
    padding: 75em 0.5em;
  }

  .size-btn{
    padding: 0.5em;
  }
}

.page {
  display: flex;
  justify-content: center;
}

.req-star{
  color: $req-star;
}

.container{
  display: flex;
  padding: 1.5em 1.75em;

  @media screen and (max-width: $break-small){
    width: 300px;
    flex-direction: column;
  }

  @media screen and (min-width: $break-large){
    width: 960px;
  }
}

.product-image{
  flex-grow: 1;
}

.product-info{
  flex-grow: 2;

  .price {
    display: flex;
    padding: 0.5em;
    border-top: 1px solid $border-light-grey;
    border-bottom: 1px solid $border-light-grey;
    justify-content: flex-start;

    .span {
      font-size: 1.2fr;
      font-weight: 300;
    }
  }

  .description{
    padding: 1em;
    margin-bottom: 0.5em;
  }

  @media screen and (min-width: $break-small){
    width: 300px;
  }

  @media screen and (min-width: $break-large){
    max-width: 500px;
    min-width: 360px;
  }
}

