@import "colours";
@import "main";

.navbar{
  display:flex;
  justify-content: flex-end;
  margin-top: 1em;
  background-color: $header-background;
  height: 2em;
  padding: 0.5em;

  .btn:focus{
    background: white;
    border: 1px solid $border-light-grey;
  }

  .cart-list {
    display: flex;
    position: fixed;
    margin-top: 30px;
    background: white;
    height: auto;
    z-index: 100;
    border: 1px solid $border-light-grey;

    .cart-item{
      justify-content: flex-start;

      img{
        max-width: 80px;
        flex-grow: 1;
      }

      .cart-item-info{
        display: flex;
        justify-content: flex-start;
        flex-grow: 2;
      }
    }
  
    @media screen and (min-width: $break-small){
      width: 300px;
    }
  
    @media screen and (min-width: $break-large){
      max-width: 360px;
      min-width: 300px;
    }
  }
}